.categorybutton{
    height: 400px;
    width:60%;
    border-radius: 5%;
    font-family: 'Segoe UI';
    background-color:  #cae5f0;
    border-color:#cae5f0 ;
    font-size: larger;
    color: #44b4e1;
    font-weight: 600;
}
.table{
    font-weight: 400;
    font-size: large;
}
.col-md-3{
    font-size: large;
}
